@import "tailwindcss";
@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-100;
  }
}

@layer components {
  .input {
    @apply bg-neutral-800 text-white rounded-xl px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-red-600;
  }

  .upload-box {
    @apply border-2 border-dashed border-neutral-700 rounded-2xl p-6 cursor-pointer hover:border-red-600 transition;
  }
}

.navlink {
  &:hover {
    @apply bg-red-900/50 text-white transition-all duration-200;
  }

}

.active {
  @apply bg-red-900 text-white border-l-4 border-white shadow-inner shadow-gray-900/30;
}

/* This will change the scrollbar color */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ff00002f;
  border-radius: 10px;
}

/* This will change the thumb color and border-radius */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(65deg,
      rgba(114, 0, 0, 0.637),
      rgba(255, 0, 0, 0.856));
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(65deg, rgb(255, 51, 51), rgba(255, 0, 0, 0.856));
}