@import "tailwindcss";
@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-100;
  }
}

@layer components {
  .input {
    @apply bg-neutral-800 text-white rounded-xl px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-red-600;
  }

  .upload-box {
    @apply border-2 border-dashed border-neutral-700 rounded-2xl p-6 cursor-pointer hover:border-red-600 transition;
  }
}